<p id="notice"><%= notice %></p>

<p>
  <strong>Creative:</strong>
  <%= @page.creative_id %>
</p>

<p>
  <strong>Line:</strong>
  <%= @page.line_id %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
