<%= form_for(@temp_image) do |f| %>
  <% if @temp_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@temp_image.errors.count, "error") %> prohibited this temp_image from being saved:</h2>

      <ul>
      <% @temp_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div style="display: none">
    <%= f.label :asset %><br>
    <%= f.text_field :asset %>
  </div>
  <div class="figure">
    <img id="target" class="img-thumbnail" src="">
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Guardar", :class=>'btn btn-primary pull-right'%>
  </div>
<% end %>
