<div class="panel panel-info">
  <div class="panel-heading"><strong>Imágenes</strong></div>
  <ul class="list-group">

<% @temp_images.each do |temp_image| %>
	<li class="list-group-item">
		<%= image_tag   temp_image.asset.url(:medium), :class=>'img-thumbnail' %>
		<% if @creative_selected != nil %>
			<div>
				<%= form_for [@order, @image] do |f| %>
					<% if @image.errors.any? %>
						<div id="error_explanation">
							<h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>
							<ul>
								<% @image.errors.full_messages.each do |message| %>
									<li><%= message %></li>
								<% end %>
							</ul>
						</div>
					<% end %>
					<div style="display: none">
						<%= f.text_field :creative_id, :value => @creative_selected.id %>
					</div>
					<div class="actions">
						<%= f.button  :submit ,name: "id_temp_image",value: temp_image.id, :class=>'btn btn-primary pull-right' %>
						<br>
					</div>
				<% end %>
			</div>
		<% end %>
	</li>	
<% end %>
  </ul>
</div>
  
