<%= form_for [@order, @creative] do |f| %>
  <% if @creative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@creative.errors.count, "error") %> prohibited this creative from being saved:</h2>

      <ul>
      <% @creative.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :creative_name %><br>
    <%= f.text_field :creative_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<div>
<table>
<thead>
    <tr>
      <th>Creative name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @creatives.each do |creative| %>
      <tr>
        <td><%= link_to creative.creative_name, new_order_creative_image_path(@order, creative)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
