<div class="col-md-6">
  <div class="well">
    <div class="form-group">
      <%= render :partial => 'creatives/form' %>
      <br><br>
    </div>
    <div id="order_creatives" class="form-group">
    	<%= render :partial => 'creatives/list_w_link_to_panel' %>
    </div>

    <% if @creative_selected != nil %>
      <div id="creative_lines">
        <%= render :partial => 'lines/list' %>
      </div>
      <div id="creative_images">
        <%= render :partial => 'images/list' %>
      </div>
    <% end %>
    <div class="form-group">
    <%= link_to 'Generar Testigo', order_gen_testigo_index_path(@order), :class=>'btn btn-link pull-right' %>
    <br>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="well">
    <div id="order_lines" class="form-group">
      <%= render :partial => 'lines/list_w_form_pages' %>
      <br><br>
    </div>
    <div id="temp_images" class="form-group">
    		<%= render :partial => 'temp_images/list_w_form_image' %>
    </div>
  </div>
</div>



  










