<% @temp_images.each do |temp_image| %>
  <%= form_for [@order, @creative, @image] do |f| %>
    <% if @image.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

        <ul>
        <% @image.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= image_tag   temp_image.asset.url(:medium) %>
    </div>

    <div class="actions">
      <%= f.button  :submit , name: "id_temp_image",value: temp_image.id %>
    </div>

  <% end %>
<% end %>



<table>
  <thead>
    <tr>
      <th>Line number</th>
      <th>Format</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lines.each do |line| %>
      <tr>
        <td><%= line.line_number %></td>
        <td><%= line.format_id %></td>
        <td><%= line.start_date %></td>
        <td><%= line.end_date %></td>


        <td>
          <%= form_for [@order, @creative, @page] do |f| %>
            <% if @page.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>
                <ul>
                <% @page.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

        
            <div class="actions">
              <%= f.button  :submit , name: "id_line",value: line.id %>
            </div>
          <% end %>
        </td> 



      </tr>
    <% end %>
  </tbody>
</table>




<div>
<table>
<thead>
    <tr>
      <th>Creative name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @creatives.each do |creative| %>

      <tr>
          <% if creative.id == @creative.id %>
            <td><b><%= creative.creative_name %></td>
          <% else %>
            <td><%= link_to creative.creative_name, new_order_creative_image_path(@order, creative)%></td>
          <% end %>
      </tr>

    <% end %>
  </tbody>
</table>

<br>
</div>





  <table>
  <thead>
    <tr>
      <th>Imágenes Asignadas</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td>

          <div>
            <%= image_tag image.asset.url(:small) %>
          </div>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

  <table>
  <thead>
    <tr>
      <th>Lineas Asignadas</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @lineas_asignadas.each do |line_a| %>
      <tr>
        <td><%= line_a.line_number %></td>
        <td><%= line_a.format_id %></td>
        <td><%= line_a.start_date %></td>
        <td><%= line_a.end_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>