<% @temp_images.each do |temp_image| %>


<%= form_for [@order, @creative, @image] do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
          <%= image_tag   temp_image.asset.url(:medium) %>
  </div>
  <div class="field">
    <%= f.label :creative_id %><br>
    <%= f.number_field :creative_id %>
  </div>
  <div class="actions">
    <%= f.button  :submit , name: "id_temp_image",value: temp_image.id %>
  </div>

<% end %>
<% end %>

  <table>
  <thead>
    <tr>
      <th>Creative</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.creative_id %></td>
        <td><%= link_to 'Show', order_creative_image_path(@order, @creative, image) %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>